.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em;
  background-color: var(--clr3);

  color: var(--clr2);
  font-weight: bold;
}

.app-header nav {
  display: flex;
  gap: 1rem;

  color: var(--secondaryClr6);
}

.app-header nav a:hover {
  color: var(--clr2);
  transition: 0.5s;
}

