.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    padding: 1rem;
    border-radius: 3px;
    margin-block-end: 4rem;
}

.book-list>* {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondaryClr6);
    border: 2px solid var(--clr1);
    border-radius: 3px;

    text-align: center;
}

.book-list>* h1 {
    font-weight: bold;
    font-size: 2rem;

    margin: 0;
}

.book-list>* h2 {
    font-size: 1rem;
}

.book-list>* p {
    background-color: rgba(153, 166, 149, 0.5);
}

.book-list .book-status {
    color: var(--clr2);
    background-color: var(--secondaryClr6);
}

.book-list button {
    color: var(--clr2);
    background-color: var(--clr3);

    transition: 0.5s;
}

.book-list button:hover {
    cursor: pointer;
    color: var(--secondaryClr6);
}

.book-list img {
    border: 5px solid var(--secondaryClr6);
    padding: 2px;
    background-color: var(--clr2);
}

.book-list .on-sale::after {
    content: 'Sale !';
    position: absolute;
    top: 0.1rem;
    right: -0.8rem;
    transform: rotate(30deg);

    width: 4rem;
    height: 1.5rem;

    background-color: var(--secondaryClr1);
    border-radius: 3px;

    color: whitesmoke;
    line-height: 1.5rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.book-index .add-book {
    position: relative;
    left: calc(50% - 2.5rem);

    width: 5rem;

    background-color: var(--clr1);
    margin: 0;
    margin-block-start: 1rem;
}