.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    padding: 1rem;
    border-radius: 3px;
}

.book-list>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondaryClr6);
    border: 2px solid var(--clr1);
    border-radius: 3px;

    text-align: center;
}

.book-list>* h1 {
    font-weight: bold;
    font-size: 2rem;
}

.book-list>* h2 {
    font-size: 1rem;
}

.book-list button {
    color: var(--clr2);
    background-color: var(--clr3);

    transition: 0.5s;
}

.book-list button:hover {
    cursor: pointer;
    color: var(--secondaryClr6);
}