.review-container {
    width: 95%;

    padding: 1rem;
    background-color: rgba(245, 245, 245, 0.5);
    margin-block-start: 3rem;
}

.review-container h3 {
    color: var(--clr2);
    border-bottom: 1px solid var(--clr1);
}

.review-container button {
    font-size: 0.7rem;
}

.review-container .review-details {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid var(--clr1);
    color: black;
}

.review-container .review-details button {
    width: 3rem;
    align-self: end;
}