
@media (min-width: 600px) {
    .book-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .book-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .book-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}